<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="BaseURI"
		value="http://jsonplaceholder.typicode.com" />
	<parameter name="PostsEndpoint" value="/posts" />
	<parameter name="CommentsEndpoint" value="/comments" />
	<parameter name="AlbumsEndpoint" value="/albums" />
	<parameter name="PhotosEndpoint" value="/photos" />
	<parameter name="UsersEndpoint" value="/users" />
	<parameter name="TodosEndpoint" value="/todos" />
	<test name="FancodeUsersTestModule">
		<classes>
			<class name="Testing.Fancode_City_Assignment.FancodeUsersTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
